.weather_container{
    background-color: blue;
    min-height: 100vh;
    max-height: 150vh;
    .input_items{
        width: 70vw;
        margin: auto;
        justify-content: space-around;
        align-items: center;
    }
    .input-box{
        width: 50vw;
        background-color: blue;
        margin-top: 10px;
        font-size: 30px;
        color: white;
        border: none;
        text-align: center;
    }
    .output_box{
        font-size: 30px;
        color: white;
        width: 60vw;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .weather_description{
        text-align: center;
        margin: 0px auto;
        font-size: 20px;
        color: white;
        opacity: 0.8;
        @media (min-width: 768px) {
            width: 550px;
            font-size: 30px;
          }
    }
    .temparature{
        font-size: 90px;
        color: white;
    }
    .feels_like{
        width: 200px;
        opacity: 0.8;
        margin-top: -20px;
        font-size: 30px;
        color: white;
    }
    *:focus {
        outline: none;
    }
}